# Scala specific
*.class
*.log
*.cache
*.lib/

project/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
.bsp/

.idea/

*.iml
*.iws
*.ipr
out/
.idea_modules/
.run/

.vscode/
.metals/
.bloop/

.DS_Store


.metals/
.bloop/
project/.bloop/
.scala-build/

